@import 'jr-framework';

#example-rounded{
  @include rounded-button(7px);
  width: 70px;
  font: Arial;
  background-color: red;
  color: white;
}

#example-centered-wrapper{
  width: 70px;
  height: 70px;
  border: thin black solid;
}

#example-centered{
  @include vertically-centered-element;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: lime;
}
